
body{
    font-family: sans-serif; 
    font-size: 110%; 
    background-color: ghostwhite;
    width: 100%;  
    left: 0px; 
    right: 0px;
    margin: 0; 
}

.main{
    display: flex;
    flex-direction: row;
    overflow: unset;
}

.header{
    text-align: center; 
    background-color: darkgray; 
    justify-content: center;
}

.profilePhoto{
    width: 15%;  
    height: 15%;
    border-radius: 60%;
    border: 5px solid orange;
}

.background-image-content{
    width: 100%;


}
.nav-Menu{
    ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: centre;
      }
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
      }
    
      li a:hover {
        background-color: orange;
      }
    }



h2{
    font-size: 40px;
    background-color: darkgray;
    width: 100%;
    margin: 0;
    padding: 40px;
}

h3{
    padding-left: 25px;
}

p{
     padding-left: 25px;
}

footer{
    text-align: center; 
    background-color: darkgrey; 
    width: 100%;
    left: 15px;
    right: 15px;
}


.footer{
    font-family: sans-serif; 
    font-size: 110%; 
    background-color: darkgray;
}

@keyframes .icons {
    
    0% {transform: rotate(90deg);

        }
    25% {transform: rotate(180deg);
        }
        
    50% {transform: rotate(270deg);
        transform: translate(100px);
        }    
    75% {transform: rotate(360deg);
        }
        
    100% {transform: scale(50%);
        filter: grayscale(100%);
        } 
}

.icons {
    width: 7%;
    height: 7%; 
}

.images:hover {
    animation-duration: 5s;
    animation-name: images;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    cursor: pointer;
}



 

